/* media query */
:root {
  --red: red;
}

body {
  background-color: var(--blue);
  color: var(--white);
}

nav a {
  font-size: 100px;
  color: var(--white);
}

.hamburger {
  display: none;
}

@media (min-width: 100px) and (max-width: 1110px) {
  body {
    background-color: var(--red);
  }

  nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
